.badge-small-size
{
    height: 12px;
    width: 12px;   
    border-radius: 50%;
    display: inline-block;
    position:relative;
    right:0.75em;
    color:var(--primary-color);
  }

  .badge-normal-size{
    height: 18px;
    width: 18px;
    
    border-radius: 50%;
    display: inline-block;
    position:relative;
    right:1.5em;
    color:var(--primary-color);
  }

  .badge-large-size{
    height: 25px;
    width: 25px;
   
    border-radius: 50%;
    display: inline-block;
    position:relative;
    right:1.95em;
    color:var(--primary-color);
  }

.badge-on-icon{
    height:12px;
    width:12px;
    border-radius: 50%;
    display: inline-block;
    position:relative;
    bottom:2em;
    right:0.75em;
    font-size: 12px;
    text-align: center;
    color:var(--primary-color);
}
.badge-within{
    border-radius: 50%;    
    margin-left:1em;
    padding: .5em 1em;
    height:25px;
    width:25px;
    color:var(--primary-color);
    
}