.btn {
    padding: 0.5em 1em ;
    
}

.btn-round-edges {
    border-radius: 1em;
    padding: 0.5em 1.5em ;
   
}

.link-btn{
    text-decoration:none;
    border: 1px solid var(--secondary-color);
    color:black;
    padding:0.5em;
}

.btn-text,.link-Text-Btn{
    padding: 0.5em 1em ;
    color:var(--primary-color);
    border:none;
    letter-spacing: 1px;
    font-weight:700;
    background-color: var(--secondary-color);
    margin:1rem;
    
}
.link-Text-Btn{
    text-decoration: none;
}
.btn-text:hover,
.link-Test-Btn:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}


/*
***************************************************
CSS Button Classes for size Large & Small
***************************************************
*/

.btn-size-largest{
    padding: 0.5em 1em ;
   
    font-size:x-large;
}
.btn-size-large{
    padding: 0.5em 1em ;
    
    font-size:large;
}

.btn-size-small{
 padding: 0.5em 1em ;
 
 font-size:x-small;
}

/*
***************************************************
CSS ICON Button Classes for size Large & Small
***************************************************
*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/**/
.position-along{
    position:relative;
    top:0.30em;  
    margin: 0 0 0 0.35em;
   
}
.btn-icon,
.btn-floating-action-bottom-right,
.btn-floating-action-bottom-left,
.btn-floating-action-top-right,
.btn-floating-action-top-left
{
    padding:0.5em;
    margin:0.5em;  
    width:fit-content;
    height:fit-content;
    background-color: transparent;
    border:none;
}

.btn-floating-action-bottom-right{
    position:fixed;    
    bottom:7em;
    right:10em;
    z-index:9999;   
}
.btn-floating-action-bottom-left{
    position:fixed;    
    bottom:7em;
    left:10em;
    z-index:9999;   
}
.btn-floating-action-top-right{
    position:fixed;    
    top:7em;
    right:10em;
    z-index:9999;   
}
.btn-floating-action-top-left{
    position:fixed;    
    top:7em;
    left:10em;
    z-index:9999;   
}
.btn-icon{
    color:var(--secondary-color);
}