.container {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--secondary-color);
    color:var(--primary-color);
}
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}



.navigation .link-active {
    font-weight: bold;
}

.link {
    text-decoration: none;
    box-sizing: border-box;
    padding: 1rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}
li>a>span{
color:var(--primary-color);
}