.playlist-container{
    display:flex;
    flex-wrap: wrap;
    border: 1px solid var(--secondary-color);
}

.playlist-section{
    margin:0.5rem;
    border: 1px solid var(--secondary-color);
    padding:1rem;
}