.playlist-container{
    display:flex;
    flex-wrap: wrap;    
    
}

.playlist-section{
    margin:0.5rem;
    border: 1px solid var(--secondary-color);
    padding:1rem;
    display:flex;
    flex-wrap:wrap;
}

.multiple-playlists-section{   
    display: flex;
    flex-wrap: wrap;
}
.playlist-checkbox-container{
    color:var(--primary-color);
}

.playlist-list{
    list-style-type: none;
    text-align: left;   
}
.playlist-list-item{   
    padding:0.5rem 1rem;
    background-color: var(--secondary-color);
}
.playlist-list-item>span{
    padding:0.5rem;
}

.individual-playlist-container{
    border:1px solid var(--secondary-color);
    margin:0.5rem 0.5rem;
    padding:0 1rem;
    
}
.create-playlist-section{
    height:150px;
    width:100%;
}

.existingplaylist-container{
    display:flex;
    flex-wrap:wrap;
   
}

.checkbox-input{
    color:var(--secondary-color);
}