.card-container{
    /* Change the width & remove card-showSimilat-section div if not needed */
margin:0 auto;


}

.card-small{
    /*  set width roughly same as width of image */
    width:110px;   
    border: 1px solid gray;
    padding:0.5em;
    display: flex;
    flex-direction: column;
   
   
}
.image-card-size-small{   
    width:100px;  
}
.card-small-showSimilar-section{
    width:110px;
    border:1px solid gray;
    padding:0.5em ;
}
.overlay-text-on-small-card{
    position:absolute;
    /* use top bottom left right as per requirement */
    width:100px;;   
}
/**********************************/
.card-medium{
    /*  set width roughly same as width of image */
    width:180px;    
    border: 1px solid gray;
    padding:0.5em;
    display: flex;
    flex-direction: column;
   
}
.image-card-size-medium{
   
    width:150px;  
    
}
.card-medium-showSimilar-section{
    width:180px;
    border:1px solid gray;
    padding:0.5em  
}
.overlay-text-on-medium-card{
    position:absolute;
    /* use top bottom left right as per requirement */
    width:170px;;   
}

/**********************************/

.card-large{
    /*  set width roughly same as width of image */
    width:300px;
    /* border: 1px solid gray; */
    padding:0.5em;
    display: flex;
    flex-direction: column;
    
   
}
.image-card-size-large{
    width:300px;
    
}
.card-large-showSimilar-section{
    width:300px;
    /* border:1px solid gray; */
    padding:0.5em;
  
    
}
.overlay-text-on-large-card{
    position:absolute;
    /* use top bottom left right as per requirement */
    width:290px;   
}
/**********************************/

.card-content{
    display:flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
   
}


.card-remove-btn{    
    width:fit-content;
    height:fit-content;
    border-radius:100%;
    background-color: transparent;
    font-size:14px;
    border: 1px solid black;
    color:gray;
    margin:0.2em;
    z-index:99;
    
}
.card-remove-btn:hover{
    color:red;
}



.text-utility-p-padding{
    padding: 0.1em 0.5em;
    
}

.vertical-card{
    width:280px;
    height:380px;
}

.horizontal-card{
    width:500px;
    height:200px;
}

.apply-shadow{
    /* background: #f0f0f0; */
    box-shadow: 12px 4px 12px 4px rgba(0,0,0,0.2);
}

.categories{
    margin:1.5rem;
    border: 2px solid var(--secondary-color);
    width:fit-content;
    height:fit-content;
}
.video-list-display{
    display:flex;    
    padding:1rem;
    flex-wrap:wrap;
    margin:1rem;
    justify-content: space-evenly;
}

.video-style{
    margin:1rem;
    border: 3px solid var(--secondary-color);
}
.video-btns{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}