.App {
  text-align: center;
  --primary-color: #F9FAFB;
  --secondary-color: #831843;
  /* #e41b50 */

  /* #831843 */
  --tertiary-color: #7F1D1D;
  /* #7F1D1D */
  --current-selected-color: white;
  font-family: 'Gabriela', serif;

  color:var(--secondary-color);
  
}
.video-categories{
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  padding:0.5rem;
  
}
.main-homepage-container{
  display:flex;
  padding:1rem;
}

